[Desktop Entry]
Encoding=UTF-8
Name=Link to Post-study Questionnaire
Type=Link
URL=https://docs.google.com/forms/d/1lBTfyCqKqbV2A5r5w9Urye94_ykJYEBwyxp9j9FeqL0/viewform
Icon=text-html
