#FIXED parameters
fullscreen = true
music_vol = 0.0
fixed_seeds = true
random_seeds = 1, 2, 3, 4, 5
permute_seeds = true
continues = 5
max_eps = 100
starting_level = 4
lines_per_lvl = 9000
pause_enabled = false
#VARIED parameters -- GUIDED CONDITION
ECID = E1_GDD
ghost_zoid = f
gridlines_x = f
gridlines_y = f
color_mode = STANDARD