
##
# Tournament quarter-finals
# 
    
    logdir = data/Champ_Lab
    
    fullscreen = True

    pause_enabled = false

    game_type = lab

    fixed_seeds = true
    random_seeds = 111, 222, 333, 444, 555, 666, 777, 888, 999, 101010
    permute_seeds = true

    time_limit = 3600

    joystick_type = NES_RETRO-USB
