# Dimtris
# Modeled after a challenging version of the game
#
# The accumulation dims as the player gains levels
# The board does light up when placing zoids (board_echo_placed)
#    and clearing lines (board_echo_lc)

dimtris = true
dimtris_alphas = 255,225,200,175,150,125,100,75,50,25,0

board_echo_placed = True
board_echo_lc = True