# Invisitris
#
# Awful version of the game where zoids disappear as soon as they are placed
# In default version, board "echoes" during placement (board_echo_placed),
#  but this can be limited to successful line clears (board_echo_lc)
#  or never being shown again at all!

visible_board = False
visible_zoid = True
board_echo_placed = True
board_echo_lc = True