#Dim the next box to fairly dark
    next_dim = True
    next_dim_alpha = 50
    
#Gray out the next zoid
    gray_zoid = False
    gray_board = False
    gray_next = True
    gray_kept = False
    
## Score display: "left" or "right" supported
    score_align = left
    

## We tend to show the high score (though not always!)
    show_high_score = True