	logdir = ../data
	
	fullscreen = True
	
	time_limit = 1200
	
	show_high_score = True
	
	gameover_fixcross = True
	gameover_fixcross_color = 0,115,10
 	gameover_fixcross_size = 15
 	gameover_fixcross_width = 3
 	gameover_fixcross_frames = 30
 	gameover_fixcross_frames_tolerance = 2
 	gameover_fixcross_tolerance = 50
 	gameover_fixcross_timeout = 600

 
 

	next_dim_alpha = 25
	
	magic_key = True
	magic_undo_max = 5
	##this was just to test whether I had correctly coded magic_key to override pause
	##pause_enabled = True
	
	##fixed_seeds = True
	random_seeds = 1001, 2002, 3003, 4004, 5005
	
	seven_bag_switch = True
	##2002, 3003, 4004, 5005, 6006, 7007, 8008, 9009, 100010
	permute_seeds = False
	
	
    ####intervals = 1, 43, 38, 33, 28, 23, 18, 13, 8, 6, 5, 5, 5, 4, 4, 4, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1
    
    
