# Memtris
#
# Combination of rational, lockout, and invisitris
#
# Encourages the player to stretch the limits of their memory
#  to complete the game.
#  -no time pressure, and undos allowed
#  -Zoids disappear as placed, echo only occurs at successful line clear
#  -Next zoid is masked and must be explicitly accessed with the Q key

gravity = False

undo = true

visible_board = False
visible_zoid = True
board_echo_placed = False
board_echo_lc = True

next_mask = True
board_mask = True
