## Modern game mode
# Includes many of the features of the modern versions of the game
# These tend to make the game easier.
# - Ghost zoids and gridlines aid perception
# - Keep zoid allows strategically delaying use of a zoid
#   - press E to keep a zoid
# - Left and Right repeat speed has been increased (das_repeat)
# - Wall kicking is enabled (1 column while rotating)
# - Seven-bag zoid randomization guarantees seeing all 7 zoid types regularly


ghost_zoid = True
zoid_slam = True
keep_zoid = True
seven_bag_switch = True
wall_kicking = True
das_delay = 16
das_repeat = 6
das_delay_ms = 266
das_repeat_ms = 100
das_chargeable = true
das_reversible = true
gridlines_x = True
gridlines_y = True