# Pentix
# Version of the game pulled from a commercial iPhone modification of Tetris
# 
# Includes both 5-segment zoids and 1-, 2-, 3-segment zoids
# Game width and height are same as commercial version
#   - More room seems to be needed to play with the larger piece properly.


pentix_zoids = True
tiny_zoids = True
game_wd = 16
game_ht = 25