
##
# Tournament qualifying rounds. Uses two game seeds (randomly permuted) for consistency.
# 



## Fullscreen
    
    logdir = data/Qualifiers_2014
    
    fullscreen = True

    pause_enabled = false

    game_type = qualifier

    music_vol = 0.0
    sfx_vol = 1.0

    continues = 2

    fixed_seeds = true
    random_seeds = 4545, 3421
    permute_seeds = true

    joystick_type = NES_TOMEE-CONVERTED