## Spotlight mode
# 
#  Masks everything but the foveal region.
#  Alpha
#  255, max -> Opaque. 
#  254 -> FAINT outline of game, 
#  250 -> almost visible game.
#  0, min -> Transparent
#
#

spotlight = true
spot_radius = 350
spot_color = 50,50,50
spot_alpha = 255
spot_gradient = true

gaze_window = 15