logdir = ../data/D2_Context

game_type = D2_Context

ECID = Context

fullscreen = True

controller = score_506_dellacherie

max_eps = 100

time_limit = 3600

fixed_seeds = true

random_seeds = 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45

permute_seeds = true

pause_enabled = false
show_high_score = true

hint_context = True
hint_context_col_tol = 0